.bgimage {
   background-image: url('../images/panorama.png');
   background-size: cover;
   background-position: center;
   height: 350px;
}

.titulo {

}

.tooltip-inner {
   max-width: 250px;
}

.card:hover {
   border-color: #000;
}

.card-body {
   padding: .5em 1em;
}

.col-3 {
   padding-bottom: 2em;
}

.col-4 {
   padding-bottom: 2em;
}

.navbar-custom {
   background-color: #222;
}

.nav-item:hover {
   background-color: #111; 
}

.dropdown-menu {
   background-color: #333;
}

.dropdown-item:hover {
   background-color: #111;
}

.container-body {
	width: 100%;
	margin-right: 20em;
	margin-left: auto;
	padding-top: 2em;
}

.media img {
   width: 180px;
   margin-bottom: 16px;
   margin-right: 16px;
   border-radius: 6%;
}

.footer {
   background-color: #222;
   color: #efefef;
   padding: 30px 0;
}

.footer a {
   color: #639bcf;
}

.footer a:hover {
   color: #d8e6f3;
}

.texto-1 {
   font-size: 35px;
}

.texto-2 {
   font-size: 30px;
}

@media (max-width: 1100px) {
   .texto-1 {
      font-size: 30px;
   }
   
   .texto-2 {
      font-size: 25px;
   }   
}

@media (max-width: 480px) {

   .media img {
      width: 90px;
      margin-bottom: 6px;
      border-radius: 50%;
   }
   
   .media-body h5 {
      padding-top: 18px;
      font-size: 15px;
   }
   
   .texto-media-body {
      display: none;
   }

}